/* Global */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
body {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  /*width: 500px;*/
  background-color: #f8f8f8;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
}

#bigBox{
	text-align: center;
	margin: auto;
}

#result{
	display: -webkit-box;
	text-align: center;
	-webkit-box-orient: horizontal;
	margin: auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

h3 {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}


/* Chat */
#messagesDiv {
  background-color: white;
  overflow: auto;
  height: 230px;
  width: 100%;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
  text-align: left;
}

#nameInput {
  width: 26%;
}

#messageInput {
  width: 68%;
}

.Shop{
	border:2px solid red;
	padding: 20px 20px 20px 20px;
	font-size: 12px;
	text-align: center;
}

.Download{
	margin: 20px auto;
	font-family: 'Montserrat',sans-serif;
	font-size: 20px bold;
}
